.card {
    padding: var(--spacing-md);
    background: var(--color-background);
    border: 1.5px solid var(--color-border);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-sm);
    margin-bottom: var(--spacing-sm);
    width: 13.75rem;
    transition: box-shadow 0.2s;
    gap: var(--spacing-sm);
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: var(--shadow-md);
    background: var(--color-surface);
}

.card__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: var(--spacing-xxs, 6px);
}